<a href="https://colab.research.google.com/github/AhmedRamadan433/Machine_Learning_Road/blob/main/Python%20Libraries/Pandas/Pands_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Series In Pandas

In [ ]:
pds= pd.Series

**Create Series**

In [ ]:
data= pds([5,4,7,5,6,8])
data

0    5
1    4
2    7
3    5
4    6
5    8
dtype: int64

In [ ]:
data[0]

np.int64(5)

**Convert It to numpy array**

In [ ]:
print(data.values)
type(data.values)

[5 4 7 5 6 8]

numpy.ndarray

**Series From Dictionary**

In [ ]:
dic={
    "name": "John Doe",
    "age": 20,
    "major": "Computer Science",
    "grades": [85, 90, 92]
}
data=pds(dic)
data

name              John Doe
age                     20
major     Computer Science
grades        [85, 90, 92]
dtype: object

In [ ]:
data['age']

20

Slicing Serires

In [ ]:
data['name':'age']

name    John Doe
age           20
dtype: object

In [ ]:
data[::-1]

grades        [85, 90, 92]
major     Computer Science
age                     20
name              John Doe
dtype: object

# Data Frame in Pandas

In [ ]:
population_dict = {'Baghdad': 7655695,
                   'Tunis': 633894,
                   'Algeria': 3569126,
                   'Riyadh': 7678935,
                   'Cairo': 9568232}

population = pd.Series(population_dict)

area_dict = {'Baghdad': 204,
             'Tunis': 212,
             'Algeria': 1190,
             'Riyadh': 1973,
             'Cairo': 3085}

area = pd.Series(area_dict)

print(area)
print(population_dict)

Baghdad     204
Tunis       212
Algeria    1190
Riyadh     1973
Cairo      3085
dtype: int64
{'Baghdad': 7655695, 'Tunis': 633894, 'Algeria': 3569126, 'Riyadh': 7678935, 'Cairo': 9568232}

**Create Data Frame**

> From series

In [ ]:
df=pd.DataFrame({'Population':population_dict,'Area':area})
df

         Population  Area
Baghdad     7655695   204
Tunis        633894   212
Algeria     3569126  1190
Riyadh      7678935  1973
Cairo       9568232  3085

> from python Dictionary

In [ ]:
pd.DataFrame({'population':[7655695,633894,3569126,3569126,3569126],'Area':[204,212,1190,1973,3085]},index=area.keys())

         population  Area
Baghdad     7655695   204
Tunis        633894   212
Algeria     3569126  1190
Riyadh      3569126  1973
Cairo       3569126  3085

**Get inf about Data fram**

In [ ]:
print(df.index)
print(df.columns)

Index(['Baghdad', 'Tunis', 'Algeria', 'Riyadh', 'Cairo'], dtype='object')
Index(['Population', 'Area'], dtype='object')

In [ ]:
df['Area']['Cairo']

np.int64(3085)

In [ ]:
df['Area']

Baghdad     204
Tunis       212
Algeria    1190
Riyadh     1973
Cairo      3085
Name: Area, dtype: int64

**Create data frame with two dictionaries with not same keys**

In [ ]:
dff=pd.DataFrame([{'a':1,'b':2},{'c':5,'b':7}])
dff

     a  b    c
0  1.0  2  NaN
1  NaN  7  5.0